* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  background-color: lightblue;
}

dialog {
  display: block;
}

.editor-content {
  display: grid;
  grid-template-columns: minmax(550px, 1fr) 1fr;
  /* grid-template-columns: 1fr 1fr; */
  gap: 20px;
}

.canvas-container {
  background-color: seashell;
}

.menu-container {
  background-color: pink;
}

img {
  width: 50px;
}
