/* BASICS */

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  margin: 0;
  font-family: montserrat, serif;
  color: var(--clr001);
  line-height: 1.71428571;
}

body {
  background-color: var(--gallery-bg-gray);
  text-align: center;
}

header,
footer {
  position: sticky;
  background-color: var(--main-orange);
  z-index: 100;
}

header {
  top: 0;
}

footer {
  bottom: 0;
}
