.main-layout {
  display: grid;

  grid-template-columns: 1.25rem 1fr 1.25rem;
}

.main-layout > *:not(.full) {
  grid-column: 2;
}

.main-layout > *.full {
  grid-column: 1 / -1;
}

/* MAIN-GALLERY */

.gallery-container {
  display: grid;

  grid-auto-flow: dense;
  gap: 0.625rem;
  margin-block: 1.25rem;
}

img {
  border-radius: 0.625rem;
  width: 100%;
}
