/* MAIN-GALLERY */

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 150px));
  grid-auto-flow: dense;
  gap: 10px;
  margin-block: 20px;
}

img {
  border-radius: 10px;
  width: 100%;
}

/* MAIN EDITOR */
.editor-content {
  display: grid;
  grid-template-columns: minmax(500px, 1fr) 1fr;
  /* grid-template-columns: 1fr 1fr; */
  gap: 20px;
}

/* .canvas-container {
  background-color: seashell;
  border-radius: 2em;
  border: 1px solid black;
} */
