.editor {
  width: 1200px;
  height: 600px;
  background-color: var(--editor-bg-gray);
}

canvas {
  border-radius: 2em;
}

.editor-menu {
  display: grid;
}

.meme-input-editor {
  display: grid;
  place-items: center;
}

.text-input {
  width: 373px;
  height: 60px;
  border-radius: 12px;
  background-color: #ffffff;
}

.btn {
  width: 60px;
  height: 60px;
  border-radius: 12px;
  background-color: white;
}

/* Dropdown container to control the width */

.editor-text-options {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

.dropdown-container {
  grid-column: span 3;
  align-self: center;
  justify-self: stretch;
}

.font-selector {
  grid-area: fs;
  width: 100%;
  height: 60px;
  border-radius: 12px;
  background-color: white;
  border: none;

  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.meme-input-editor {
  display: grid;
}

/* Main canvas output buttons container */
.canvas-output-buttons {
  display: grid;
  grid-template-columns: repeat(3, 1.5fr);
  gap: 10px;
  place-items: center;
}

/* Button styles for output buttons */
.btnOutput {
  background-color: var(--main-orange);
  width: 90px;
  color: white;

  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnOutput.download {
  grid-column: 1;
}

.btnOutput.save {
  grid-column: 2;
}

.btnOutput.share {
  grid-column: 3;
}

/* dialog {
  display: block;
} */
