.editor {
  background-color: var(--editor-bg-gray);
}

canvas {
  border-radius: 2em;
}

.editor-menu {
  display: grid;
}

.meme-input-editor {
  display: grid;
  place-items: center;
}

/* Changed fixed width and height to relative sizing */
.text-input {
  width: 23.3125rem; /* Changed */
  height: 3.75rem; /* Changed */
  border-radius: 12px;
  background-color: #ffffff;
}

/* Changed fixed width and height to relative sizing */
.btn {
  width: 3.75rem; /* Changed */
  height: 3.75rem; /* Changed */
  border-radius: 12px;
  background-color: white;
}

/* Dropdown container to control the width */

.editor-text-options {
  display: grid;
  place-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.3125rem; /* Changed */
}

.dropdown-container {
  grid-column: span 3;
  align-self: center;
  justify-self: stretch;
}

/* Changed fixed width and height to relative sizing */
.font-selector {
  grid-area: fs;
  width: 100%;
  height: 3.75rem; /* Changed */
  border-radius: 12px;
  background-color: white;
  border: none;
  font-size: 1rem; /* Changed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.meme-input-editor {
  display: grid;
}

/* Main canvas output buttons container */
.canvas-output-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625em; /* Changed */
  place-items: center;
}

/* Button styles for output buttons */
/* Changed fixed width to relative sizing */
.btnOutput {
  background-color: var(--main-orange);
  width: 5.625rem; /* Changed */
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnOutput.download {
  grid-column: 1;
}

.btnOutput.save {
  grid-column: 2;
}

.btnOutput.share {
  grid-column: 3;
}

.btnOutput.close {
  grid-column: 4;
}

/* .btn-text-stroke img {
  width: 50px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s;
}
#colorPickerContainer {
  position: absolute;
  left: -9999px;
} */

/* Add styles for color picker button */
/* .color-picker-btn {
  position: relative;
} */

.color-picker-img {
  /* Add any existing styles */
  transition: filter 0.3s ease; /* Transition for smooth color change */
  cursor: pointer; /* Change cursor to indicate clickable */
  background-color: var(--gallery-bg-white);
}

#colorPickerInput {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* Hide the actual input */
}
