.gallery-menu {
  margin-block-start: 20px;
}

.gallery-container {
  /* grid-template-columns: repeat(auto-fit, minmax(60px, 150px)); */
  /* grid-auto-flow: dense;
  gap: 10px;
  margin-block: 20px;

  justify-content: center; */
}

img {
  border-radius: 0.625rem;
  width: 100%;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.3), 0 0 0.5em rgba(255, 166, 0, 0.4);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

img:hover {
  transform: scale(1.05);
  box-shadow: 0 0.75em 1.5em rgba(0, 0, 0, 0.4),
    0 0 1em rgba(255, 166, 0, 0.582);
}
