.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  height: 4.5625em;
}

.logo {
  /* Layer 2 */

  width: 8.3125em;
  height: 1.375em;
}

/* .main-nav ul {
  list-style: none;
} */
