.header-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;

  height: 73px;
}

.logo {
  /* Layer 2 */

  width: 133px;
  height: 22px;
}

/* .main-nav ul {
  list-style: none;
} */
